:root {
  --primary-100: #1f3a5f;
  --primary-200: #4d648d;
  --primary-300: #acc2ef;
  --accent-100: #3d5a80;
  --accent-200: #cee8ff;
  --text-100: #ffffff;
  --text-200: #e0e0e0;
  --bg-100: #0f1c2e;
  --bg-200: #1f2b3e;
  --bg-300: #374357;
  --secondary-100: #ab0b0b;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
/** 
** Globales
** Nota: 1rem = 10px
**/

html {
  font-size: 64.5%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-100);
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-weight: 400;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  font-size: 3.4rem;
}

img {
  max-width: 100%;
  margin: 0 auto;
}

/** Utilidades: Puedes agregmás conforme lo consideren adecuado **/
.container {
  max-width: calc(100% - 5rem);
  margin: 0 auto;
}

.text-bold {
  font-weight: 900;
}

.button {
  display: block;
  text-decoration: none;
  padding: 1rem;
  text-align: center;
  color: var(--bg-100);
  background-color: var(--text-100);
  transition: background-color 200ms ease-in-out;
}

.button--large {
  padding: 2rem 1rem;
}

.button--cancel {
  background-color: var(--secondary-100);
}

.button:hover {
  background-color: var(--accent-200);
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/**  Grid del menú principal  **/
.main-menu {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  flex: 1;
  align-items: center;
}

.imagen-fondo {
  margin: 0 auto;
}

/** Header **/
.header {
  margin-top: 2rem;
  text-align: center;
}

.header__subheading {
  margin-top: 4rem;
}

/** Footer **/

.footer {
  background-color: var(--primary-100);
  padding: 1rem 0;
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
